/*logo*/
 
img.spip_logo.spip_logos{
margin:10% !IMPORTANT;
}

/*sidebar profil*/
a#logo {
margin: 2px ;
}

#coco{
margin-top : 10%;
}

#intro .logo:before{
background-image: none;
}

section#sidebar > section#intro{
display: inline-flex;
}

@media screen and (max-width: 1280px){

section#sidebar {
display: none !IMPORTANT; 
}

section#intro {
display: none !IMPORTANT; 
}

nav.links{
display : none !IMPORTANT;     
}

}

@media screen and (min-width: 1280px){
.fa-bars{
display : none !IMPORTANT;      
      }

}


/*header*/

#header{
background-color: rgb(255, 66, 90);
}
#header .links ul li a{
color : #fff;
}
#header h1 a{
color : #555555



      


/*Logo sidebar*/
#intro .logo:before{
background-image: none;
}

#intro .logo{
width : 40%;
}

#intro .logo img{
width: 100%;
}

#menu ul {
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:center;
 }
 
#menu li {
 float:left;
 margin:auto;
 padding:0;
 background-color:black;
 }
 
#menu li a {
 display:block;
 width:100px;
 color:white;
 text-decoration:none;
 padding:5px;
 }
 
#menu li a:hover {
 color:#FFD700;
 }
 
 #menu ul li ul {
 display:none;
 }
 
 #menu ul li:hover ul {
 display:block;
 }
 
#menu li:hover ul li {
 float:none;
 }
 
 #menu li ul {
 position:absolute;
 }
 
 #menu {
 height:50px;
 }
 
 /*bouton de pagination*/
 ul.actions.pagination > ul > a{
 color:#E7302A;
 background-color:#e7302a;
      }